body > header {
  display: grid;
  grid-template-columns: 20% 45% 35%;

  height: 80px;
  width: 100%;
  background-color: green;
}

body > header h1 {
  grid-column: 1;
  align-self: center;
  justify-self: center;
}

body > header #inputDiv {
  grid-column: 2;

  height: 40%;
  width: 80%;

  align-self: center;
  justify-self: start;
}

body > header #inputDiv * {
  height: 100%;
}

#inputDiv input {
  width: 80%;
}

#inputDiv button {
  width: 20%;
  min-width: fit-content;
}

body > header h3 {
  grid-column: 3;
  align-self: center;
  justify-self: center;
}

#contentContainerOne {
  display: flex;
  background-color: aliceblue;

  height: 30rem;
}

#contentContainerOne * {
  align-content: center;
  text-align: center;
}

#basicInfo {
  width: 40%;
  height: 100%;

  background-color: antiquewhite;
}

#moreInfo {
  width: 60%;
}

#contentContainerTwo {
  height: 12rem;
  width: 100%;
  background-color: aquamarine;
}
